# /etc/systemd/system/daphne.socket
[Unit]
Description=Daphne socket

[Socket]
ListenStream=/run/daphne/daphne.sock

[Install]
WantedBy=sockets.target